{% extends "layout.html" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
    <script type="application/javascript">
        $(document).on('change', ':file', function() {
            var input=$(this);
            var files=input.prop("files");
            var filesName=[];
            for(var i=0; i<files.length; ++i) {
                filesName.push(files.item(i).name);
            }
            input.parent().parent().next(':text').val(filesName.join(", "));
        });
    </script>
{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">問題</div>
            <div class="panel-body">
                {{ q.sentence }}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">例</div>
            <div class="panel-body">
                {% set test = q.test[0] %}
                コマンドライン引数: {{ test.args|join(',') }}
                <hr width="100%" color="#808080" />
                標準入力: {{ test.stdin }}
                <hr width="100%" color="#808080"/>
                標準出力: {{ test.result.stdout }}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">ファイルから提出</div>
            <div class="panel-body">
                <form method="post" action="/submit/files">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                ファイルを選択<input type="file" multiple="multiple" style="display: none;">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly="">
                    </div>
                    <button type="submit" class="btn btn-primary">提出</button>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">書いて提出</div>
            <div class="panel-body">
                <div id="editor" style="height: 600px; width: 100%"></div>
                <p>
                    <label>正解時には自動的にトップページにリダイレクトされます</label>
                </p>
                <a id="on-submit" class="btn btn-primary" onclick="onSubmissionWithSourceClick();">提出</a>
                <label id="result-code"></label>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_scripts %}
    <script type="application/javascript">
        var editor=ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.setFontSize(14);
        editor.getSession().setMode("ace/mode/{{ q.language }}");
        editor.getSession().setUseWrapMode(true);
        editor.getSession().setTabSize(4);
        editor.$blockScrolling=Infinity;
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });

        function onSubmissionWithSourceClick() {
            $("#result-code").text("検証中：お待ちください");
            var submit=$("#on-submit");
            submit.prop("disabled", true);
            var source=editor.getValue();
            $.ajax({
                "url": "{{ url_for('submit_json') }}",
                "type": "POST",
                //"dataType": "json",
                "data": {
                    "data": source,
                    "id": {{ q.id }}
                }
            }).done(function (res) {
                submit.prop("disabled", false);
                if(res.result) {
                    // OK
                    $("#result-code").text("正解");
                    location.href='/user_top';
                }else{
                    var message=res.message;
                    // Error
                    // Error message
                    $("#result-code").text("不正解: もう一度コードを確認してください");
                }
            }).fail(function (res) {
                submit.prop("disabled", false);
            });
        }
    </script>
{% endblock %}
